<p style="color: green"></p>
<%= turbo_frame_tag "products" do %>
  <%= render @product %>
<% end %>
<%= render partial: 'reviews/form', locals: {product: @product } %>
<strong>
  Reviews:
   <%= render @product.reviews %>
</strong>


<%# <%= link_to "New Review", %>
                  <%# new_review_path, %>
                  <%# data: { turbo_frame: "second_frame" }, %>
                  <%# class: "btn btn-success" %> <br> 
<%# <% if user_signed_in? %> 
    <%# <%= render partial: "reviews/form",  %>
    <%# locals: { review: Review.new, commentable: @product } %> 
  <%# <% else %> 
    <%# <%= link_to "Sign in", %>
                <%# new_user_session_path, %>
                <%# class: "btn btn--dark navbar__right" %> 
  <%# <% end %> 
  
  <%# Review by our Trusted Users: %>
    <%# <% @product.reviews.each do |review| %> 
      <%# <%= link_to review.user.email, user_path(review.user) %>  <br>  
      <%# <%= review.content %>  
      <%# <%= link_to "Edit this review", edit_review_path(@review) %>  
      <%# <%= button_to "Destroy this review", @review, method: :delete %>  
      <%# <%= link_to "Back to reviews", reviews_path %>  
    <%# <% end  %>  